.sideBarWrapper{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.083);
}

.sideBarWrapper > .upper{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sideBarWrapper > .upper > h1{
    font-size: 36px;
    font-weight: 700;
    color: #552583;
    text-align: center;
}

.sideBarWrapper > .upper > .option{
    display: flex;
    background-color: #E6F7FF;
    padding: 10px 20px;
    border-right: 3px solid #1890FF;
}

.sideBarWrapper > .upper > .option > img{
    width: 24px;
    height: 24px;
}

.sideBarWrapper > .upper > .option > p{
    font-size: 14px;
    font-weight: 400;
    color: #1890FF;
    margin: auto 0;
    margin-left: 10px;
}

.sideBarWrapper > .lower{
    display: flex;
    margin: 20px;
    cursor: pointer;
}

.sideBarWrapper > .lower > img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.sideBarWrapper > .lower > h2{
    font-weight: 400;
    font-size: 14px;
    margin: auto 0;
}